---
http_interactions:
- request:
    method: get
    uri: https://api.twelvedata.com/time_series?apikey=test_key&end_date=2024-08-01&interval=1day&mic_code=XNAS&order=ASC&outputsize=5000&start_date=2024-01-01&symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"symbol":"AAPL","interval":"1day","currency":"USD","exchange_timezone":"America/New_York","exchange":"NASDAQ","mic_code":"XNGS","type":"Common Stock"},"values":[{"datetime":"2024-01-02","open":"187.14999","high":"188.44000","low":"183.89000","close":"185.64000","volume":"82488700"},{"datetime":"2024-01-03","open":"184.22000","high":"185.88000","low":"183.42999","close":"184.25000","volume":"58414500"},{"datetime":"2024-01-04","open":"182.14999","high":"183.08999","low":"180.88000","close":"181.91000","volume":"71983600"},{"datetime":"2024-01-05","open":"181.99001","high":"182.75999","low":"180.17000","close":"181.17999","volume":"62303300"},{"datetime":"2024-01-08","open":"182.08999","high":"185.60001","low":"181.50000","close":"185.56000","volume":"59144500"},{"datetime":"2024-01-09","open":"183.92000","high":"185.14999","low":"182.73000","close":"185.14000","volume":"42841800"},{"datetime":"2024-01-10","open":"184.35001","high":"186.39999","low":"183.92000","close":"186.19000","volume":"46792900"},{"datetime":"2024-01-11","open":"186.53999","high":"187.05000","low":"183.62000","close":"185.59000","volume":"49128400"},{"datetime":"2024-01-12","open":"186.05999","high":"186.74001","low":"185.19000","close":"185.92000","volume":"40444700"},{"datetime":"2024-07-31","open":"222.00000","high":"223.82001","low":"218.63000","close":"218.80000","volume":"50036200"},{"datetime":"2024-08-01","open":"218.20000","high":"220.03000","low":"216.54001","close":"218.24001","volume":"42390900"}],"status":"ok"}'
  recorded_at: Mon, 26 May 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
