---
http_interactions:
- request:
    method: get
    uri: https://api.twelvedata.com/profile?apikey=test_key&mic_code=XNAS&symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"symbol":"AAPL","name":"Apple Inc.","exchange":"NASDAQ","mic_code":"XNGS","sector":"Technology","industry":"Consumer Electronics","employees":166000,"website":"https://www.apple.com","description":"Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide.","type":"Common Stock","CEO":"Mr. Timothy D. Cook","address":"One Apple Park Way","city":"Cupertino","zip":"95014","state":"CA","country":"United States","phone":"(408) 996-1010"}'
  recorded_at: Mon, 26 May 2025 00:00:00 GMT
- request:
    method: get
    uri: https://api.twelvedata.com/logo?apikey=test_key&symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"symbol":"AAPL"},"url":"https://api.twelvedata.com/logo/apple.com"}'
  recorded_at: Mon, 26 May 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
