---
http_interactions:
- request:
    method: get
    uri: https://api.twelvedata.com/symbol_search?apikey=test_key&outputsize=30&symbol=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"symbol":"AAPL","instrument_name":"Apple Inc.","exchange":"NASDAQ","mic_code":"XNGS","exchange_timezone":"America/New_York","instrument_type":"Common Stock","country":"United States","currency":"USD"},{"symbol":"AAPL","instrument_name":"Apple Inc.","exchange":"XETRA","mic_code":"XETR","exchange_timezone":"Europe/Berlin","instrument_type":"Common Stock","country":"Germany","currency":"EUR"}],"status":"ok"}'
  recorded_at: Mon, 26 May 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
