---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v8/finance/chart/AAPL?interval=1d&period1=1704096000&period2=1722495600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS"},"timestamp":[1704096000,1704182400,1704268800,1704355200,1704441600,1704700800,1704787200,1704873600,1704960000,1705046400,1705305600,1705392000,1705478400,1705564800,1705651200,1705910400,1705996800,1706083200,1706169600,1706256000,1706515200,1706601600,1706688000,1706774400,1706860800,1707120000,1707206400,1707292800,1707379200,1707465600,1707724800,1707811200,1707897600,1707984000,1708070400,1708329600,1708416000,1708502400,1708588800,1708675200,1708934400,1709020800,1709107200,1709193600,1709280000,1709[...]
