---
http_interactions:
- request:
    method: get
    uri: https://query1.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=assetProfile,quoteType,summaryProfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"quoteSummary":{"result":[{"assetProfile":{"address1":"One Apple Park
        Way","city":"Cupertino","state":"CA","zip":"95014","country":"United States","phone":"408
        996 1010","website":"https://www.apple.com","industry":"Consumer Electronics","industryKey":"consumer-electronics","industryDisp":"Consumer
        Electronics","sector":"Technology","sectorKey":"technology","sectorDisp":"Technology","longBusinessSummary":"Apple
        Inc. designs, manufactures, and markets smartphones, personal computers, tablets,
        wearables, and accessories worldwide. The company offers iPhone, a line of
        smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose
        tablets; and wearables, home, and accessories comprising AirPods, Apple TV,
        Apple Watch, Beats products, and HomePod. It also provides AppleCare support
        and cloud services; and operates various platforms, inclu[...]
